<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">사용자명</property>
  <property name="hibernate.connection.password">비밀번호</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/web?serverTimezone=UTC&amp;characterEncoding=utf8</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.default_entity_mode">pojo</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="com.hibernateMaven.web.model.Student"/>
  <mapping class="com.hibernateMaven.web.model.Emptable"/>
  <!--  <mapping resource="com/hibernateMaven/web/model/Emptable.hbm.xml"/>  -->
 </session-factory>
</hibernate-configuration>
